#homeJumbotron{
    background-image: url("https://images.unsplash.com/photo-1562575214-da9fcf59b907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80");
    background-size: cover;
    color:white;
}

#introCard{
    background-color: lightgrey;
}
